<div class="nav-bar">
  <h2 class="welcome">Welcome <%= currentUser.firstName +" "+ currentUser.lastName %></h2>
  <a class="log-out" href="/logout"data-toggle="tooltip" data-placement="bottom" title="Log Out">Log out<img class="log-out-img" src="https://openclipart.org/image/2400px/svg_to_png/196995/mono-exit.png" /></a>
  <a class="myProfile" href="/profile"data-toggle="tooltip" data-placement="bottom" title="My Profile">My Profile<img class="img-nav-login" src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" /></a>
  <a class="myList" href="/list"data-toggle="tooltip" data-placement="bottom" title="My Goals">My Schedule<img class="img-list" src="https://cdn4.iconfinder.com/data/icons/stroke-business/512/date_and_time_clock-512.png"></a>
  <a class="contacts" href="/contacts"data-toggle="tooltip" data-placement="bottom" title="Contacts">Contacts<img class="contacts-img" src="https://cdn3.iconfinder.com/data/icons/users/100/contacts_book-512.png"></a>
  <a class="home" href="/publicChat"data-toggle="tooltip" data-placement="bottom" title="Home">Home<img class="home-img" src="http://dougbond.com/images/home-icon.png"></a>
  <img class="img-profile" src="https://res.cloudinary.com/crunchbase-production/image/upload/v1454008732/mnno8g6ae7mcjnawnfpx.png" />
  <h1><%= title %></h1>
</div>


<!-- Profile Texts -->
<div class="div-profile">

  <button type="button" class="button-plus" data-container="body" data-toggle="popover" data-placement="right">
    <img class="img-plus-btn"src="https://cdn2.iconfinder.com/data/icons/picons-essentials/71/user_add-512.png" />
  </button>

  <button class="list-contacts" href="my-list-contacts" data-container="body" data-toggle="popover" data-placement="botton">List Contacts</button>

     <% if (currentUser.role === "admin"){ %>

       <a class="all-users" href="/admin/users">All Users</a>
       <a class="all-contacts" href="/admin/contacts">Users Contacts</a>

     <% } %>


    <div id="btn-plus">
      <ul>


        <h2 class="contact-title">New Contact</h2>

        <form class="add-contacts" method="post" action="/contact">


          <input id="first-name" type="text" placeholder="First Name"
          name="firstN">

          <input id="last-name" type="text" placeholder="Last Name"
          name="lastN">

          <br />

          <input id="phone" type="text" placeholder="Phone Number"
          name="phoneN">
          <br />

          <input id="email" type="email" placeholder="Email Address"
          name="emailN">
          <br />

          <input id="email" type="text" placeholder="Address"
          name="addressN">
          <br />

          <button class="save-btn"> Save </button>
        </form>


      </ul>
    </div>




    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul class="contact-list">
          <% listOfContacts.forEach((oneContact) => { %>
            <li style="margin-right: 5%; margin-bottom: 5%; font-size: 20px; color: #FFF;">
            <h4 class="line-down">Name: <%= oneContact.firstname +" "+ oneContact.lastname %> </h4>
            <p class="line-down">Phone Number:  <%= oneContact.phone %> </p>
            <p class="line-down">Eamil Address:  <%= oneContact.email %> </p>
            <p class="line-down">Address:  <%= oneContact.address %> </p>
               <ul>
                  <li>
                  <a class="edit line-down" href="my-list-contacts/<%= oneContact._id %>/edit">
                    Edit Contact
                  </a>
                  </li>
               </ul>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>






</div>
